.otp-countdown {
    position: absolute;
    top: 26px;
    right: 20px;
    /* width: 100%; */
}

.otp-countdown p {
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    color: #42B6E6;
    height: 18px;
    line-height: 18px;
    margin-left: auto;
    width: 40px;
    /* padding-left: 320px; */
}

.otp-resend {
    padding-left: 320px;
}

.single-trending-row a {
    text-decoration: none !important;
}

.logo {
    cursor: pointer;
    z-index: 999;
}

.header-search-bar-shadow {
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.1) !important;
}

.change-color-language .css-b8ldur-Input,
.change-color-language .css-qc6sy-singleValue {
    margin: 0 !important;
    color: #42B6E6 !important;
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    padding: 0 !important;
    width: 60px !important;
    text-align: center;
}

.change-color-language .css-319lph-ValueContainer {
    padding: 0 !important;
}

.host-green {
    color: #41c82c !important;
}

.pax-list-inner-hosted {
    padding: 30px;
}